.message-container {
    display:flex;
    flex-flow: row nowrap;
    width: 30%
}

.message-category {
    width: 5vw
}
.message-content {
    width: 10vw
}


.messageSubmit-container {
    display:flex;
}
.category-input {
    width: 8vw !important   
}

.content-input {
    width: 60% !important
}