.feed-container {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 3em;
    justify-content: center;
    width: 100%
}

.messages-container {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 2em;
    height: 300px;
    width: 100%;
    overflow-y: scroll;
}

.message-container {
    display:flex;
    flex-flow: row nowrap;
    margin-bottom: 1em;
    
}

.message-category {
    width: 5vw
}
.message-content {
    width: 10vw
}


.messageSubmit-container {
    display:flex;
}
.category-input {
    width: 8vw !important   
}

.content-input {
    width: 60% !important
}

.deletemsg-btn {
    width: 30px !important;
    height: 30px !important;
    background-color: rgb(160, 36, 36) !important;
    font-size: 10px !important;
    padding: 3px !important
}
