.feed-container {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 3em;
    justify-content: center;
    width: 100%;
    border: 5px solid;
    border-color: rgb(0,0,0,.5);
    padding-top: .2em
}

.messages-container {
    display: flex;
    flex-flow: column nowrap;
    height: 300px;
    width: 100%;
    overflow-y: scroll;
    border: none !important;
    padding: 1em !important
}

.message-container {
    display:flex;
    flex-flow: row nowrap;
    margin-bottom: 1em;
}

.message-category {
    width: 5vw;
    font-weight: bold;
}
.message-content {
    width: 20vw
}

.messageSubmit-container {
    display:flex;
}
.category-input {
    width: 8vw !important   
}

.content-input {
    width: 40% !important
}

.deletemsg-btn {
    width: 30px !important;
    height: 30px !important;
    background-color: rgb(160, 36, 36) !important;
    font-size: 10px !important;
    padding: 3px !important
}

.message-btn {
    background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
	background-color:#eae0c2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: black !important;
    margin-left: 1em
}

