.maindetails-container {
    width: 100%;
    height: 100%;
    padding: 1em;
    background-color: #373A62;
    background-image: url("https://www.transparenttextures.com/patterns/dark-mosaic.png");
    background-attachment: fixed;
    color: rgb(236, 236, 236)
}

.graphs-container {
    display: flex;
    justify-content: space-evenly;
}

.oneGraph {
    width: 45%;
    height: 60%;
    margin: 1em;
    border: 5px solid;
    border-color: rgb(0,0,0,.5);
    padding-top: .2em
}

.pin-container {
    margin-left:1em;
}

.pin-container:hover {
    transform: scale(1.5)
}

.title-container {
    display: flex;
    justify-content: center;
    background-color: #E6E8F9;
    margin: auto;
    padding: 1em;
    color: black;
    border-radius: 10px;
    width: fit-content;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25) !important;
}