.maindetails-container {
    width: 100%;
    height: 100%;
    padding: 1em;
    background-color: #373A62;
    color: rgb(236, 236, 236)
}

.graphs-container {
    display: flex;
    justify-content: space-evenly;
}

.oneGraph {
    width: 45%;
    height: 60%;
    margin: 1em
}

.pin-container {
    margin-left:1em;
}

.pin-container:hover {
    transform: scale(1.5)
}

.title-container {
    display: flex;
    justify-content: center;
    background-color: rgb(236, 236, 236);
    margin: auto;
    padding: 1em;
    color: black;
    border-radius: 10px;
    width: fit-content;
    box-shadow: 5px 5px #f6eded2c;
}