.dashboard-container {
    margin-bottom: 0px;
    width: 100%;
    background-color: #373A62;
    background-image: url("https://www.transparenttextures.com/patterns/dark-mosaic.png");
    background-attachment: fixed;
    display:flex;
    flex-flow: column nowrap;
}

.body-container {
    height: fit-content;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-bottom: 1em;
}

.compare-container {
    width: 700px;
    text-align: center;
    border: 5px solid;
    border-color: rgb(0,0,0,.5);
    padding: .5em;
    display: flex;
    flex-flow: column nowrap;
}

.secondmain-container {
    display:flex;
    flex-flow: column nowrap;
    height: fit-content;
    width: 700px;
    border: 5px solid;
    border-color: rgb(0,0,0,.5);
    height: 650px;
    padding: .5em
}

.pinnedMarkets-container {
    display: flex;
    flex-flow: row wrap;
    height: 230px;
    width: 100%;
    justify-content: center;
    overflow-y: scroll;
}

#scroll-style::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#scroll-style::-webkit-scrollbar
{
	width: 12px;
	background-color: none;
}

#scroll-style::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #3B5FB5;
}


.pm-btn {
    background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
    color: black !important;
    border: none !important;
    margin: .5em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
}

.pm-btn:hover {
    background:linear-gradient(to bottom, #b6b5b5 5%, #ededed 100%);
    background-color:#dfdfdf;
}

.pm-btn-selected {
    background-color: #FFBB63 !important;
    color: black !important;
    border: none !important;
    margin: .5em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
}

.pinView-container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

.unpinbtn-container {
    text-align: right;
}

.unpinbtn {
    background:linear-gradient(to bottom, #b1352c 5%, #d13223 100%);
	background-color:#f24537;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 4em !important;
    font-size: 12px !important;
    padding: .2em !important;
    border: none !important
}

.unpinbtn:hover {
    background:linear-gradient(to bottom, #7e1d14 5%, #f24537 100%);
	background-color:#c62d1f;
}

.details-btn {
    background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: black !important;
    border: none !important
}

.details-btn:hover {
    background:linear-gradient(to bottom, #b6b5b5 5%, #ededed 100%);
    background-color:#dfdfdf;
}

.pinview-card {
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25) !important;
    background-color: #E6E8F9 !important;
}

.dropboxes-container {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    align-items: center;
}

.dropbox {
    width: 250px;
    height: 200px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25) !important;
    background-color: #E6E8F9 !important;
    border-radius: 5px;
    font-size: 25px;
}

.compare-button {
    width: 100px !important;
    margin-top: 1em;
    margin-bottom: 1em;
    background:linear-gradient(to bottom, #acaaaa 5%, #7c7a7a 100%);
	background-color:#8a8787;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: black !important;
    border: none !important
}

.compare-button-ready {
    width: 100px !important;
    margin-top: 1em;
    margin-bottom: 1em;
    background:linear-gradient(to bottom, #82e98a 5%, #65b46b 100%);
	background-color:#ededed;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: black !important;
    border: none !important
}

.compare-button-ready:hover {
    background:linear-gradient(to bottom, #6abd71 10%, #49814d 100%);
}


.none {
    visibility: hidden;
}

.cs-btn-container {
    text-align: end;
    margin-top: 0;
}

.clearSelection-btn {
    background:linear-gradient(to bottom, #b1352c 5%, #d13223 100%);
    background-color:#f24537;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none !important;
    margin-top: 2em;
}

.clearSelection-btn:hover {
    background:linear-gradient(to bottom, #7e1d14 5%, #f24537 100%);
    background-color:#c62d1f;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none !important
}

.drag-text {
    margin-top: 3.2em
}

