.dashboard-container {
    height: 100vh;
    width: 100%;
    background-color: #373A62;
    background-image: url("https://www.transparenttextures.com/patterns/dark-mosaic.png");
    background-attachment: fixed;
    display:flex;
    flex-flow: column nowrap;
}

.secondmain-container {
    display:flex;
    flex-flow: column nowrap;
    height: 100%;
    width: 100%
}

.pinnedMarkets-container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;
}

.pm-container {
    margin: .5em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
}

.pm-btn {
    background-color: #E6E8F9 !important;
    color: black !important
}

.pm-btn-selected {
    background-color: #FFBB63 !important;
    color: black !important
}

.pinView-container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

.unpinbtn-container {
    text-align: right;
}

.unpinbtn {
    background-color: rgb(160, 36, 36) !important;
    width: 4em !important;
    font-size: 12px !important;
    padding: .2em !important;
}

.details-btn {
    background-color: #6a6a6e !important;
}

.pinview-card {
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25) !important;
    background-color: #E6E8F9 !important;
}
