.about-main-container {
    background-color: #373A62;
    width: 100%;
    height: 100%;
    color: white;
    padding: 2em
}

.about-content-container {
    margin-top: 2em;
    padding-left: 15em;
    padding-right: 15em
}

h2 {
    color: #FFBB63
}

p {
    text-indent: 2em;
    color: #E6E8F9
}

h5 {
    color: #a9dff5
}
