.main-container {
    background-color: #373A62;
    background-image: url("https://www.transparenttextures.com/patterns/dark-mosaic.png");
    background-attachment: fixed;
    width: 100%;
    height: 100%
}

.settings-card {
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25) !important;
    margin-bottom: 3em;
    background-color: #E6E8F9 !important
}

.checkbox-bigger {
    transform: scale(2);
    -webkit-transform: scale(2);
    margin-left: 3em;
}

.input-back {
    background-color: rgb(251, 251, 251) !important;
}

.settings-title {
    margin-top: .5em;
}

.savesettings-btn {
    background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    color: black !important;
    border: none !important
}

.savesettings-btn:hover {
    background:linear-gradient(to bottom, #b6b5b5 5%, #ededed 100%);
    background-color:#dfdfdf;
    border: 1px solid black !important
}